<!-- base html  -->
{% extends 'utils/accounts_base.html' %}
<!-- Static  -->
{% load static %}
<!-- Title -->
{% block title %}Register - Travello{% endblock %}
<!-- Start of content block -->
{% block content %}

<div class="container bg-dark p-lg-5 mt-3">
    <h2 class="mt-lg-5">Register Page</h2>

    <form class="mt-lg-5" action="{% url 'register' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="first_name" class="form-label">First name</label>
            <input
                type="first_name"
                class="form-control"
                name="first_name"
                placeholder="First Name"
            />
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last name</label>
            <input type="last_name" class="form-control" name="last_name" placeholder="Last Name" />
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" name="username" placeholder="Username" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" />
        </div>

        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password1" class="form-control" name="password1" placeholder="Password" />
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password2" class="form-control" name="password2" placeholder="Password" />
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}
